body{
    background-color: bisque;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   display:flex;         
          align-items: center;
          justify-content: center;
    }
    
    .container{
      border-radius: 5px;
        color: rgb(0, 0, 0);
        margin-top: 5vh;
        background-color: rgba(0, 0, 0, 0.342);
        height:auto;
        width: 100%;
        padding-bottom: 20px;
    }
    h1{
        text-align: center;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #7a7373;
        text-align: center;
    }
    thead {
        border: 1px solid #948989;
     border-radius: 2px;
     padding-bottom: 5px;
    }
    .searchid{
          display: inline;
    }
    .submit{
margin-left: 10px;
    }
    .searchcontainer{
        display:flex;
        justify-content: center;

        margin-bottom: 10px;
    }
    .submit:hover,.reset:hover   {
        background-color: rgb(3, 1, 97) ;
        color:white; 
       }
   input{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
   }


   .backcontainer{
    margin-left: 49vw;
    color:green;
 }
 .back{
     padding: 10px;
     font-size: 25px;
     border-radius: 15px;
     
 }

 .back:hover {
     background-color: rgb(1, 75, 71);
     color: white;
 }
 .error{
    color: red;
 }
 #errormsg{
    color:red;
    text-align: center;
 }
 
 .edit{
    margin-left: 20%;
    margin-top: 15px;
    cursor: pointer;
   
 }
 .edit a{
    text-decoration: none;
    color: black;
    font-size: larger;
 }