<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/welcome.css">
    <title>Home</title>
    <style>

    </style>
</head>
<body>
    <div class="header">
        <div class="header-right">
          <a href="http://localhost:8080/log">Login</a>
          <a href="http://localhost:8080/register">Signup</a>
        </div>
      </div>
      <div class="container">
        <img src="/templates/css/sarah-dorweiler-2s9aHF4eCjI-unsplash.jpg" alt="">
      </div>
      
</body>
</html>